input[type="text"], input[type="number"], input[type="password"], input[type="email"], textarea {
	display: block;
	margin: 10px 0;	
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea {
	background: $white;
	border: 1px solid $gray;
	padding: 10px 20px;
	transition: border $animTime;
	&:focus {
		outline: none;
		border: 1px solid darken($gray, 20%);
	}	
}

// Hide Number Spinner
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.form-container {
  max-width: 540px;
  margin: 0 auto;
  input[type="text"], input[type="number"], textarea {
    width: 100%;
  }
}
