extends layout

mixin courseCard(course)
  .course-card
    .card
      .card-header
        img(src=course.coverImage, alt="Thumbnail")
        h2 #{course.name}
      .card-body
        p #{course.subtitle}
      .card-footer
        a.regBtn(href='/courses/' + course.id + '/view/')
          button.secondary View

block head
  link(rel='stylesheet', href='/stylesheets/course.css')
  title Courses | CTE

block content
  .catalog
    if courses.length > 0
      section.hero.hero-overlay
      .container
        h2#heading Courses This Sem
        .courses
          each course in courses
            +courseCard(course)
    else
      .not-found
        img(src='/images/empty.png')
        h2 There's nothing here yet.
        p Stay tuned for updates.
  