//- Landing Page
extends layout

block head
	link(rel='stylesheet', href='/stylesheets/home.css')

block content
	section.hero
		.container
			h1 Lorem Ipsum Sit Dolor		
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
			a(href="/courses")
				button.primary Explore

	section.white
		h2.section-title 
			span What we do
		p.section-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis dolore veritatis saepe ad possimus eum fugit optio nemo cumque, porro consectetur ipsa sunt dolores ipsum exercitationem earum nihil rem dolorem!
		.container
			.grid-items
				div 
					h4 Courses
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iste fugiat corporis, earum cumque vero repudiandae voluptatibus quidem sequi quibusdam magni dolore aliquam sint unde animi delectus hic qui odio!

				div 
					h4 AAP
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iste fugiat corporis, earum cumque vero repudiandae voluptatibus quidem sequi quibusdam magni dolore aliquam sint unde animi delectus hic qui odio!

				div 
					h4 Tech Weekend
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iste fugiat corporis, earum cumque vero repudiandae voluptatibus quidem sequi quibusdam magni dolore aliquam sint unde animi delectus hic qui odio!

				div 
					h4 Schooling
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iste fugiat corporis, earum cumque vero repudiandae voluptatibus quidem sequi quibusdam magni dolore aliquam sint unde animi delectus hic qui odio!

				div 
					h4 CCE
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iste fugiat corporis, earum cumque vero repudiandae voluptatibus quidem sequi quibusdam magni dolore aliquam sint unde animi delectus hic qui odio!

				div 
					h4 Project Fundings
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iste fugiat corporis, earum cumque vero repudiandae voluptatibus quidem sequi quibusdam magni dolore aliquam sint unde animi delectus hic qui odio!

	section.gray
		h2.section-title
			span Our Team
		p.section-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique obcaecati pariatur debitis voluptates in reiciendis beatae hic temporibus odit eligendi, cumque, possimus facilis dolores suscipit dignissimos maxime earum est aspernatur.
		.centre-flex
			button.primary Meet the Team

	section#facts
		h2 Some Interesting facts about us
		#facts-list
			div 
				h2.num 3000+
				span Students Taught
			div 
				h2.num 40+
				span Projects Funded
			div 
				h2.num 230K
				span Cash prizes rewarded
			div 
				h2.num 110
				span Pizzas Ordered

	section.white
		h2.section-title
			span Why collaborate with us?
		p.section-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique obcaecati pariatur debitis voluptates in reiciendis beatae hic temporibus odit eligendi, cumque, possimus facilis dolores suscipit dignissimos maxime earum est aspernatur.

	section.gray
		h2.section-title
			span FAQs
		p.section-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique obcaecati pariatur debitis voluptates in reiciendis beatae hic temporibus odit eligendi, cumque, possimus facilis dolores suscipit dignissimos maxime earum est aspernatur.
		.centre-flex
			button.primary Get your answers
