doctype html
html
	head
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600|Open+Sans&display=swap",rel="stylesheet")
		link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/main.css')
		script(src='/javascripts/nav.js')
		block head
			title CTE

	body
		main
			include include/header.pug
			block content

		include include/footer.pug
	
