doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/main.css')
		script(src='/javascripts/nav.js')
		block head
			title CTE

	body
		main
			include include/header.pug
			block content

		include include/footer.pug
	
