extends layout

block head
	link(rel='stylesheet', href='/stylesheets/team.css')
	title The Team

block content
	section#team
		h1 Team
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iure nemo cupiditate illum omnis corporis eum aspernatur necessitatibus asperiores magnam officiis animi, illo maiores tempora. Odio, eligendi? Recusandae, repellendus error.
		div.img-wrapper
			h2 2019-20
			img(src="/images/team/2019.jpg")
