extends layout

block head
	link(rel='stylesheet', href='/stylesheets/team.css')
	title The Team

block content
	section#team
		h1 Team
		p With A Technical Department this big, come big responsibilities, which our team is used to handle.
		div.img-wrapper
			h2 2019-20
			img(src="/images/team/2019.jpg")
