header
	nav.main(role="navigation", aria-label="main navigation")
		.container
			.navbar-brand
				a(href='/').navbar-item
					img(src='/logo.png', width='108', height='48.6')
				a.navbar-burger(role='button', href='#', data-target='navmain')
					span(aria-hidden="true")
					span(aria-hidden="true")
					span(aria-hidden="true")

			.navbar-menu#navmain
				block menu
					a.navbar-item(href='/') Home
					a.navbar-item(href='/courses') Courses
					a.navbar-item(href='/archives') Archives
					a.navbar-item(href='/team') Team
					a.navbar-item(href='/faq') FAQ
					if !signedIn
						a.navbar-item(href='/auth') Sign In
					else
						a.navbar-item(href='/dashboard') Dashboard
