header
	nav(role="navigation", aria-label="main navigation")
		.container
			.navbar-brand
				a(href='/').navbar-item
					img(src='/logo.png', width='108', height='48.6')

			.navbar-menu
			.navbar-start
				a.navbar-item(href='/') Home
				a.navbar-item(href='/courses') Courses
				a.navbar-item(href='/contact') Contact
				a.navbar-item(href='/auth') Sign In
