extends layout

block content
	.container(style='margin-top:80px;margin-bottom:80px')
		h2 #{title}
		p.big-type #{message} 
		p Contact 
			a(href='mailto:cte.bitsgoa@gmail.com') cte.bitsgoa@gmail.com 
			| if the problem persists
