@import '../../styles/include/vars';
//
// Catalog & Course page
//

.catalog {
	button {
		width: 120px;
		margin-bottom: 15px;
  }
  #heading {
    color: #fff;
    margin-top: 1.4em;
    margin-bottom: .5em;
  }
}
.courses {
  display: flex;
  .card {
    transition: transform .3s ease;
    &:hover {
      transform: scale(1.02);
    }
  }
}

.course-hero {
	display: flex;
	img {
		max-width: 400px;
	}
	.controls {
		padding: 0;
		button {
			margin-right: 10px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.info {
		margin: 0 40px;
		p {
			margin-top: 0;
		}
	}
}

.card {
	background-color: #fff;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.35);
	width: 375px;
  margin: 20px;
  
	.card-header {
		text-align: center;
		img {
			width: 100%;
			border-bottom: 8px solid $green;
		}
	}
	.card-body {
		padding: 0 30px;
	}
	.card-footer {
		padding-bottom: 15px;
		text-align: center;
	}
}

.course-info {
	margin: 20px 0;
}

.course-info .container {
  display: flex;
  .card {
    padding: 15px 30px;
	}
	#description {
		width: 100%;
		margin-left: 0;
		p {
			white-space: pre-line;
		}
	}
  h3 {
    margin: .5em 0;
	}
	ul {
		padding-inline-start: 35px;
		li {
			padding: 5px 0;
		}
	}
}
