@import '../../styles/include/vars';

section.gray, section.white {
	padding: 50px 0;
}

section.white {
	background-color: #fff;
}

.centre-flex {
	display: flex;
	justify-content: center;
}

.section-title {
	margin-top: .3em ;
	display: flex;
	justify-content: center;
	span:after {
		content: '';
		position: relative;
		display: block;
		border-bottom: 2px solid $green;
		width: 80%;
		left: 10%;
		top: 5px;
	}
}

.section-desc {
	color: $darkGray;
	max-width: 640px;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

.grid-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	div {
		flex-basis: 33.33%;
		min-width: 300px;
		padding: 10px;
		p {
			color: $darkGray;
		}
	}
}

#facts {
	background-image: url('/images/facts.png');
	background-size: cover;
	background-repeat: no-repeat;

	// Add Overlay
	background-color: rgba($tealBlue, 0.7);
	background-blend-mode: multiply;

	padding: 60px 0;
	color: #fff;

	h2 { 
		color: #fff;
		text-align: center;
	}
	#facts-list {
		display: flex;
		justify-content: center;
		>div {
			padding: 20px;
			font-size: 18px;
		}
	}
}
