name: Build & Deploy
on:
  push:
    branches: [production]

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Deploy NodeJS app
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${{secrets.SSH_KEY}} # Private or public key of the server
          username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
     
          script: |
            echo 'Deployment successful to digital ocean' 
            git clone git@github.com:samarsault/noodle.git 
