name: Build & Deploy
on:
  push:
    branches: [production]

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Deploy NodeJS app
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${{secrets.SSH_KEY}} # Private or public key of the server
          username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
     
          script: |
            echo 'Deployment Started'
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh
            nvm use 12
            echo `node -v`
            cd noodle
            git pull
            cd client
            npm i && npm run build
            cd ../server
            npm i
            cd ..
            pm2 stop ecosystem.config.js
            pm2 start ecosystem.config.js
            sudo service nginx restart
            echo 'Deployment Complete' 
